<div id="block-login" class="block">
  <h2>Forgot your password?</h2>
  <div class="content login">

<%= render "shared/error_messages" %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form login" }) do |f| %>
    <div class="group wat-cf">
      <div class="left"><%= f.label :email, :class => "label right" %></div>
      <div class="right"><%= f.text_field :email, :class => "text_field" %></div>
    </div>
    <div class="group wat-cf">
      <div class="right">
        <button class="button" type="submit">
          <%= image_tag "web-app-theme/icons/key.png" %>
          Send me reset password instructions
        </button>
      </div>
    </div>
<% end %>

<%= render :partial => "devise/shared/links" %>

  </div>
</div>
