<!DOCTYPE html>
<html>
<head>
  <title>Boom Listing</title>
  <%= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/warehouse/style", "web-app-theme/override" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Boom Listing</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
<% if user_signed_in? %>
          <li><a href="#"><%= t("web-app-theme.settings", :default => "Settings") %></a></li>
          <li><%= link_to t("web-app-theme.profile", :default => "#{current_user.name} Profile"), edit_user_registration_path %></li>
          <li><%= link_to t("web-app-theme.logout", :class => "logout", :default => "Sign out"), destroy_user_session_path %></li>
<% else %>
          <li><%= link_to t("web-app-theme.login", :default => "Sign in"), new_user_session_path %></li>
          <li><%= link_to t("web-app-theme.signup", :default => "Create an account"), new_user_registration_path %></li>
<% end %>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf">
          <li class="<%= params[:controller] == 'home' ? 'first active' : 'first' %>">
            <%= link_to("Main", root_path) %>
          </li>
        </ul>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> Boom Listing.</p>
          </div>
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>
  </div>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
